header {
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
}
header h1 {
    background-color: cornflowerblue;
    padding: 0 0 0 40px;
}
header nav {
    font-size: large;
    margin: 30px 40px 0 0;
}
/* adjust comment to the end, bottom*/
hero {
    display: flex;
    justify-content: flex-end;
    margin: 200px 0 0 0;
    background-image: 
}
hero h3 {
    background-color: cornflowerblue;
    margin: 0 0 20px 50px;
}
section {
    display: flex;
    justify-content: space-between;
}
.about-me {
    border-right: solid;
    padding: 20px 30px 20px 5px;
}
p {
    margin: 20px 150px 0 150px
    }
.work {
    border-right: solid;
    padding: 100px 30px 100px 10px;
}
.contact {
    border-right: solid;
    padding: 20px 10px 20px 10px;
}
.links {
    padding: 50px 0 0 0;
}
.resume {
    border-right: solid;
    padding: 20px 10px 20px 10px;
}
/*link cont for the header*/