header {
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
}
h1 {
    background-color: cornflowerblue;
    padding-left: 40px;
}
nav {
}

/* adjust comment to the end, bottom*/
hero {
    display: flex;
    justify-content: flex-end;
    padding-top: 200px;
}
.About Me {
    display: flex;
    justify-content: flex-end;
}
/*link cont for the header*/